.App {
  text-align: center;
}

.App-header {
  background-color: #242424;
  min-height: 70px;
  padding: 20px;
  color: #fffffe;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
